<p>
  <b>Year season:</b>
  <%=h @schedule.year_season %>
</p>

<p>
  <b>Language:</b>
  <%=h @schedule.language %>
</p>

<p>
  <b>Posting date:</b>
  <%=h @schedule.posting_date %>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
